<header>
	<div class="header-mask"></div>
	<div class="header-slogan">
		<h2>Color Your College</h2>
		<p>搶先體驗專屬學生的各種便利服務<br>為你的大學生活上色</p>
	</div>
	<div class="header-call-to-action">
    	<a target="_parent" href="https://colorgy.io/login" class="btn btn--large">立即註冊 / 登入</a>
    	<!--<p><div class="fb-page" data-href="https://www.facebook.com/pages/Colorgy/1529686803975150" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false"></div></p>-->
	</div>
	<div class="row row-inner-s" style="margin-top: 48px;">
		<div class="col m4 s12">
			<div class="service">
				<h4>BOOKS</h4>
				<p>你的買書好幫手</p>
				<small>一本即團購價，線上金流系統，讓你買書更便宜、方便。</small>
				<a class="btn disabled">8月中即將開台</a>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="service">
				<h4>TABLE</h4>
				<p>你的專屬行動課程表</p>
				<small>把你的課表帶著走，貼心提醒不再忘記上課時間、地點，上課變得好輕鬆</small>
				<a class="btn" href="https://table.colorgy.io" target="_blank">前往 TABLE</a>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="service">
				<h4>TASKS</h4>
				<p>尋找校園的即時幫手</p>
				<small>尋找需要幫忙的同學，賺取即時的外快，哪裡都幫、隨時都幫</small>
				<a class="btn" href="https://colorgytasks.io" target="_blank">前往 TASKS</a>
			</div>
		</div>
	</div>
	<div class="slideshow-3d" style="display:none;">
		<div class="slideshow-3d-inner">
			<div class="layer layer1">
				<%= image_tag('table-img.png') %>
			</div>
			<div class="layer layer2">
				<%= image_tag('books-img.png') %>
			</div>
			<div class="layer layer3">
				<%= image_tag('paper-img.png') %>
			</div>
		</div>
	</div>
	<div class="arrow-down">
		<i class="material-icons">keyboard_arrow_down</i></br>
		<i class="material-icons" style="margin-top: -20px;">keyboard_arrow_down</i>
	</div>
</header>
<section id="colorgy-table-section" class="colorgy-table-section service-intro-box table">
	<div class="container">
		<div class="row">
			<div class="col m6 s12">
				<div class="info table" id="table-anchor">
					<div class="title table">
						<h3>TABLE 行動課程表</h3>
					</div>
					<p class="description">排課表、課程提醒、課堂聊天室</p>
					<p>
						<span class="sub-title"><i class="material-icons">view_quilt</i><font style="font-weight:700;">排課表</font></span>
						預先安排課表，提前規劃不再手忙腳亂。發現同班帥哥美女，上課從此變得有趣！</br></br>
						<span class="sub-title"><i class="material-icons">phonelink_ring</i><font style="font-weight:700;">課程提醒</font></span>
						常常忘了在哪上課、老師是誰嗎？下載 <a href="https://itunes.apple.com/tw/app/colorgytable/id998230121?l=zh&mt=8" target="_blank">Colorgy App</a>，讓 Table 隨時提醒你，找教室沒煩惱。</br></br>
						<span class="sub-title"><i class="material-icons">chat</i><font style="font-weight:700;">課堂聊天室</font></span>
						想跟同一堂課的同學們聊天嗎？課程聊天室讓你上課不再無聊，討論報告、上課內容更容易。</br></br>
					</p>
					<div class="call-to-action">
						<a target="_parent" href="https://colorgy.io/login" class="btn">立即註冊</a>
					</div>
				</div>
			</div>
			<div class="col m6 s12">
				<div class="box-image table">

				</div>
			</div>
		</div>
	</div>
</section>
<section id="colorgy-tasks-section" class="colorgy-tasks-section service-intro-box tasks">
	<div class="container">
		<div class="row">
			<div class="col m6 s12">
				<div class="info tasks" id="tasks-anchor">
					<div class="title tasks">
						<h3>TASKS 大學幫</h3>
					</div>
					<p class="description">即時發案、即時接案，外快好好賺</p>
					<p>
						<span class="sub-title"><i class="material-icons">local_atm</i><font style="font-weight:700;">賺外快</font></span>
						課業、社團讓你沒空打工嗎？想利用自己閒暇的時間多賺點外快順便幫忙同學嗎？隨時關注任務賺取外快！</br></br>
						<span class="sub-title"><i class="material-icons">directions_run</i><font style="font-weight:700;">找幫手</font></span>
						需要同學幫忙買晚餐嗎？報告來不及交希望有人幫忙跑腿嗎？Tasks 大學幫讓你隨時隨地找得到幫手</br></br>
						<span class="sub-title"><i class="material-icons">alarm_on</i><font style="font-weight:700;">省時間</font></span>
						Tasks 利用共享時間的概念，讓你節省更多時間，或是幫人節省時間賺外快！</br></br>
					</p>
					<div class="call-to-action">
						<a target="_parent" href="https://colorgy.io/login" class="btn">立即註冊</a>
					</div>
				</div>
			</div>
			<div class="col m6 s12">
				<div class="box-image tasks">

				</div>
			</div>
		</div>
	</div>
</section>
<section id="colorgy-books-section" class="colorgy-books-section service-intro-box books">
	<div class="container">
		<div class="row">
			<div class="col m6 s12">
				<div class="info books" id="books-anchor">
					<div class="title books">
						<h3>BOOKS 原文書團購</h3>
					</div>
					<p class="description">一次買齊所有上課用書</p>
					<p>
						<span class="sub-title"><i class="material-icons">tag_faces</i><font style="font-weight:700;">方便</font></span>
						在一個網站買齊所有你需要的書，直接配送到學校去，各種付款方式讓你的身上不用再帶著大筆現金。</br></br>
						<span class="sub-title"><i class="material-icons">beenhere</i><font style="font-weight:700;">安心</font></span>
						班代、助教不用再統計或是收錢，他們只要開團讓同學們來跟團，不再害怕書錢搞丟或是數量統計錯誤。</br></br>
						<span class="sub-title"><i class="material-icons">local_atm</i><font style="font-weight:700;">優惠</font></span>
						我們幫同學們爭取到一本即團購價的優惠，讓你可以省下更多的錢做更多妥善的運用。</br></br>
					</p>
					<div class="call-to-action">
						<a target="_parent" href="https://colorgy.io/login" class="btn">立即註冊</a>
					</div>
				</div>
			</div>
			<div class="col m6 s12">
				<div class="box-image books">

				</div>
			</div>
		</div>
	</div>
</section>
<section id="cooperating-departments" class="cooperating-departments">
	<div class="container">
		<div class="row">
			<div class="col m12 s12">
				<h4>全台灣超過<span> 100 個系會</span> 與 Colorgy 合作</h4>
				<p>強烈徵求各大學系會與我們合作，和我們ㄧ起努力，讓大學教科書市場越來越透明！<br>如果需要任何Colorgy的服務，也歡迎聯繫，讓我們了解你的需求！</p>
				<a target="_parent" href="https://www.facebook.com/pages/Colorgy/1529686803975150" target="_blank"><button class="btn" style="margin-top: 24px;">聯絡 Colorgy</button></a>
				<!--
				<div class="departments isotope">
					<div class="grid-sizer"></div>
					<div class="element-item department-item">
						<div class="department-logo">
							<%= image_tag('departments/ncku-cs.jpg') %>
						</div>
						<p class="department-name"></p>
					</div>
					<div class="element-item department-item">
						<div class="department-logo">
							<%= image_tag('departments/ncku-ba.jpg') %>
						</div>
						<p class="department-name"></p>
					</div>
					<div class="element-item department-item">
						<div class="department-logo">
							<%= image_tag('departments/ncku-es.jpg') %>
						</div>
						<p class="department-name"></p>
					</div>
					<div class="element-item department-item">
						<div class="department-logo">
							<%= image_tag('departments/ncku-me.jpg') %>
						</div>
						<p class="department-name"></p>
					</div>
				</div>
				-->
				<div class="departments isotope">
					<div class="departments-list element-item">
						<h5>台科大</h5>
						<ul>
							<li>電機系</li>
							<li>電子系</li>
							<li>機械系</li>
							<li>企管系</li>
							<li>資工系</li>
							<li>化工系</li>
							<li>營建系</li>
							<li>資管系</li>
							<li>工管系</li>
							<li>電資學士班</li>
							<li>工程學士班</li>
							<li>管理學士班</li>
						</ul>
					</div>
					<div class="departments-list element-item">
						<h5>成大</h5>
						<ul>
							<li>學生會</li>
							<li>電機系</li>
							<li>資工系</li>
							<li>數學系</li>
							<li>光電系</li>
							<li>機械系</li>
							<li>土木系</li>
							<li>船舶系</li>
							<li>測量系</li>
							<li>企管系</li>
							<li>資源系</li>
							<li>會計系</li>
						</ul>
					</div>
					<div class="departments-list element-item">
						<h5>交大</h5>
						<ul>
							<li>學生會</li>
							<li>電工系</li>
							<li>土木系</li>
							<li>外語系</li>
							<li>應用數學系</li>
							<li>應用化學系</li>
							<li>電子物理學系</li>
							<li>運輸與物流管理學系</li>
							<li>工業工程與管理學系</li>
						</ul>
					</div>
					<div class="departments-list element-item">
						<h5>中央</h5>
						<ul>
							<li>學生會</li>
							<li>電機系</li>
							<li>化材系</li>
							<li>物理系</li>
							<li>化學系</li>
							<li>光電系</li>
							<li>機械系</li>
							<li>企管系</li>
							<li>財金系</li>
						</ul>
					</div>
					<div class="departments-list element-item">
						<h5>中山</h5>
						<ul>
							<li>學生會</li>
							<li>電機系</li>
							<li>機電系</li>
							<li>企管系</li>
							<li>資管系</li>
							<li>光電系</li>
							<li>材光系</li>
							<li>海科系</li>
							<li>海工系</li>
						</ul>
					</div>
					<div class="departments-list element-item">
						<h5>台大</h5>
						<ul>
							<li>資工系</li>
							<li>國企系</li>
							<li>工管系</li>
						</ul>
					</div>
					<div class="departments-list element-item">
						<h5>清大</h5>
						<ul>
							<li>電機系</li>
							<li>動機系</li>
							<li>物理系</li>
							<li>材料系</li>
							<li>財金系</li>
						</ul>
					</div>
					<div class="departments-list element-item">
						<h5>中興</h5>
						<ul>
							<li>資工系</li>
							<li>企管系</li>
						</ul>
					</div>
					<div class="departments-list element-item">
						<h5>中正</h5>
						<ul>
							<li>電機系</li>
						</ul>
					</div>
					<div class="departments-list element-item">
						<h5>政大</h5>
						<ul>
							<li>企管系</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="keep-mention" class="keep-mention">
	<div class="container">
		<div class="row" style="margin-bottom: -6px;">
			<div class="col m7 s12">
				<div class="text">
					<h4>隨時保持關注</h4>
					<p>我們的服務即將於 2015 年 8 月全面啟動，<br>想要關注 Colorgy 的動態消息，你可以按 <a target="_parent" href="https://www.facebook.com/pages/Colorgy/1529686803975150" target="_blank">Colorgy 粉絲專頁</a>讚、<a target="_parent" href="https://colorgy.io/login">註冊登入</a>成會員，或是下載我們的 TABLE APP ，我們會發送推播消息給你。</p>
					<div class="buttons">
						<a class="ios-download" href="https://itunes.apple.com/tw/app/colorgytable/id998230121?l=zh&mt=8" target="_blank"><%= image_tag('appstore.png') %></a>
					</div>
				</div>
			</div>
			<div class="col m5 s12">
				<div class="app-img">
					<%= image_tag ('table/index.png') %>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="sign-up-section" class="sign-up-section">
	<div class="container">
		<div class="row">
			<div class="col m12 s12">
				<h4>免費註冊登入</h4>
				<p>你還在等什麼？快點體驗 Colorgy 吧！</p>
				<a target="_parent" href="https://colorgy.io/login" class="btn btn--extralarge">註冊 / 登入</a>
        <p><div class="fb-page" data-href="https://www.facebook.com/pages/Colorgy/1529686803975150" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false"></div></p>
			</div>
		</div>
	</div>
</section>
<script>
	$( function() {
	  // init Isotope
	  var $container = $('.isotope').imagesLoaded(function(){
	    $container.isotope({
	      itemSelector: '.element-item',
	      columnWidth: '.grid-sizer',
	    });
	  });
	})

	$(window).scroll(function(){
		var window_height = $(window).height();
		var window_pos = $(window).scrollTop() + window_height;
		var books_pos = $('#books-anchor').offset().top;
		var tasks_pos = $('#tasks-anchor').offset().top;
		var table_pos = $('#table-anchor').offset().top;

		if( window_pos > books_pos ){
			$('.info.books').addClass('active');
			$('.box-image.books').addClass('active');
		}
		if( window_pos > tasks_pos ){
			$('.info.tasks').addClass('active');
			$('.box-image.tasks').addClass('active');
		}
		if( window_pos > table_pos ){
			$('.info.table').addClass('active');
			$('.box-image.table').addClass('active');
		}

	})
</script>
